*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    color: #FFFFFF;

}
/* ==============BACKGROUND============== */
.bg-wraped {
    background-image: url('Object.png');
    background-size: auto;
    background-position: fixed;
    background-repeat: no-repeat; 
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: white
}

/* <!--================NAV==============--!> */
.navbar {
    padding: 35px 150px 0 150px;
}

.navdiv { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5px;
    /* width: 1000px; */
}

.navdiv ul {
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    font-size: 12px;
    font-weight: 700;
    font-style: bold;
    gap: 52px;
    color :white;
}

/* ================HERO SECTION============== */
.line1 {
    text-align: center;
    margin-top: 220px;
    gap: 20rem;   
}

.line1 h1 {
    font-size: 120px;
    margin: bottom 0;
}

.line1 span {
    font-size: 16px;
    margin: 20px;
    text-align: center;
    gap: 20rem;
}

.line1 button {
    border-radius: 1.5rem;
    background-color: #C271FF;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 100px;
    width: 162px;
    height: 44px;
    border: none;
    text-align: center;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    
}

/* <!--================PROFILS==============--!> */
.pro-section {
  text-align: center;
  color: white;
  padding: 60px 20px 40px 0PX; 
}

.pro-section h2 {
  font-size: 24px;
  margin-top: 36px;
  /* margin-bottom: 40px; */
}

.pro-section .highlight {
  color: #C271FF; /* purple "Learn" */
}

.pros-row {
  display: flex;
  justify-content: center;
  margin-top: 58px;
  gap: 40px;
  flex-wrap: wrap; /* allows wrapping on small screens */
}

.pro-card {
  text-align: center;
  max-width: 150px;
}

.pro-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.pro-card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.pro-card p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.3;
}

.quote {
    background-color: #C271FF;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    line-height: 20px;
    padding: 35px 150px 0 150px;
}

.quote div img {
    width: 160px;
    height: 160px;
    margin-right: 40px;
}

.quote1 {
    text-align: left;
    margin: 100px 0 100px 100px;
    max-width: 700px;
    display: flex;
    justify-items: space-between;
    align-items: center;
}

.quote1 div div blockquote h3 {
    margin-top: 0px;
}

/* <!--================TUTORIAL VIDEOS==============--!> */

.tuto-section {
    text-align: center;
  padding: 60px 40px;
  background-color: #fff;
}

.tuto-section h2 {
    margin-bottom: 40px;
    text-align: center;
    color: #071629;
}

.tuto-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.tuto-card {
`   position: absolute;
    top: 50%;
    left: 50%;
 
  width: 250px;
  padding: 1px;
  text-align: left;
  color: #071629;
}

.tuto-card h3 {
    color: #071629;
    margin-top: 10px;
    margin-left: 10px;
}

.tuto-card p {
    color: #071629;
    font-size: 0.6rem;
    line-height: 1rem;
    margin-left: 10px;
    margin-top: 10px;
    opacity: 0.4;
}

/* .tuto-card play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: bisque;
    color: #c271ff;
    font-size: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
} */

/* .tuto-card img {
    width: 255px;
    height: 154px;
    margin-bottom: 10px;
    margin-right: ;
} */

.p-rate { 
    display: flex;
    align-items: center;
    margin: 15px 0;
    gap: 10px;
}

.p-rate img {
    width: 30px;
    height: 30px;
    align-content:left;
}

.p-rate h4 {
    color: #C271FF;
    font-size: 14px;
}

.rate {
    display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  
  max-width: 270px;
}
.rate p {
    color: #b48bf2;
}

/* <!--================MEMBERSHIP==============--!> */
.membership { 
    background-color: #071629;
    padding: 35px 150px 0 150px;
}

.membership img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40px;
    margin-bottom: 25px;
    margin-left: 70px;

}

.membership button {
   border-radius: 1.5rem;
    background-color: #C271FF;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 162px;
    height: 44px;
    border: none;
    text-align: center;
    color: white;
}
.button-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.membership h2 {
    text-align: center;
    margin-bottom: 30px;
}

.membership-row {
    display: flex; 
    align-content: center;
    justify-content: space-between; */
    margin-top: 58px;
    gap: 20px;
    
    flex-wrap: wrap;  allows wrapping on small screens 
}

.membership-card {
    display: block;
    align-content: center;
    justify-content: center;
    max-width: 257px;
    max-height: auto;
}

.membership-card svg {
    align-content: center;
}

.membership-card p {
    
    font-size: 12px;
    line-height: 1.5rem;
}

.membership-card h3 {
    margin-bottom: 0.5rem;
    text-align: center;
} */

/* <!--================FAQ==============--!> */
.faq {
    width: fit-content;
    padding: 35px 150px 0 150px;
}

.faq h2 {
    margin-top: 20px;
    text-align: center;
    color: #303030;
    font-weight: 100;
    font-size: 60px;
}

.faq h3 {
    color: #071629;
    font-size: 16px;
}

.faqdiv {
    padding: 35px 150px 0 150px;
    
}

.faqdiv p {
    color: #071629;
    font-size: 14px;
    line-height: 1.8rem;
    opacity: 0.4;
    max-width: 350px;
    max-height: 240px;
    margin-top: 20px;
    margin-bottom:80px;
    
}

.faqdd {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* <!--================FOOTER==============--!> */
.foot {
    background-color: #071629;
    padding: 70px 150px 0 150px;
}

.foot p {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 100px;
    color: #FFFFFF;
    opacity: 0.4;
}
.footdiv {
    background-color: #071629;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 165px; */
   
}

.icons {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    /* margin: 90PX 240px 130px 1070px; */

}